<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ump web</title>
<link type="text/css" href="$rootContextPath.getURI("css/bootstrap.min.css")" rel="stylesheet"/>
<link type="text/css" href="$rootContextPath.getURI("css/bootstrap-theme.min.css")" rel="stylesheet"/>
<link type="text/css" href="$rootContextPath.getURI("css/bootstrap-responsive.min.css")" rel="stylesheet"/>
<link type="text/css" href="$rootContextPath.getURI("css/docs.min.css")" rel="stylesheet"/>
<link type="text/css" href="$rootContextPath.getURI("css/main.css")" rel="stylesheet"/>
<script type="text/javascript" src="$rootContextPath.getURI("js/jquery-2.1.3.min.js")"></script>
<script type="text/javascript" src="$rootContextPath.getURI("js/bootstrap.min.js")"></script>


<title>Insert title here</title>
</head>
<body>
	<header class="navbar navbar-static-top bs-docs-nav" id="top"
		role="banner">
		<div class="container">
			<div class="navbar-header">

				<a href="#" class="navbar-brand">Gateway参数配置</a>
			</div>
			<!-- <nav id="bs-navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">					
					<li #if($page && $page=="index") class="active" #end><a href="$rootContextPath.getURI("")">配置列表</a></li>
					<li #if($page && $page=="log") class="active" #end><a href="#">日志</a></li>

				</ul>

			</nav> -->
		</div>
	</header>
	$screen_content
</body>
<script type="text/javascript" src="$rootContextPath.getURI("js/main.js")"></script>
</html>